<% include layout %>
    <div>
  <ul>
   <li>To search sliecific id use [/users/id]</li>
   <li>To create user details use [/users]</li> 
   <li>To ulidate sliecific id use [/users/id]</li>
   <li>To delete sliecific id use [/users/id]</li>
  </ul>
    </div>