<% include layout %>
  <div>
    <ul>
      <li>To search specific id use [/users/id]</li>
      <li>To create user details use [/users]</li> 
      <li>To update use [/users/id]</li>
      <li>To delete use [/users/id]</li>
    </ul>
  </div>
