<!DOCTYPE html>
<html>
  <head>
    <title> users </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> User Information</h1>
    <ul>
      <li><a href="http://localhost:3000/users">ALL USERS</a></li>
    </ul>
  </body>
</html>